<configuration scan="true">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %X{sourceThread} %X{akkaSource} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  third party packages -->
    <logger name="akka" level="INFO" />
    <logger name="akka.cluster" level="INFO" />
    <logger name="akka.config" level="DEBUG" />
    <logger name="akka.serialization" level="INFO" />
    <logger name="org.springframework" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

</configuration>
