<configuration scan="true" debug="false">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %X{sourceThread} %X{akkaSource} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logStash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <file>logs/notification-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/spider-cluster-seed.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${logging.maxdays:-30}</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>createTime</timestamp>
            </fieldNames>
            <customFields>
                {"application": "spider-api"}
            </customFields>
            <providers>
                <!-- provides the timestamp -->
                <timestamp/>
                <!-- provides the version -->
                <version/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <logLevelValue/>
                <stackTrace/>
                <mdc/>
                <tags/>
                <logstashMarkers/>
            </providers>
        </encoder>
    </appender>

    <logger name="akka" level="INFO"/>
    <logger name="akka.cluster" level="INFO"/>
    <logger name="akka.config" level="DEBUG"/>
    <logger name="akka.serialization" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="logStash" />
        <appender-ref ref="stdout"/>
    </root>

</configuration>
